@if $mqs == true {
	body {
		width: 100%;
	}

	body:after {
		color: black;
		content: '0 - 19em';
		position: fixed;
		bottom: 0;
		text-align: center;
		width: 100%;
		height: 42px;
		background: #d15300;
		clear: both;
		overflow: auto;
		line-height: 42px;
		font-size: 30px;
		font-family: sans-serif;
		font-weight: bold;

		@media (min-width: 20em) {
			content: '20em - 24em';
		}

		@media (min-width: 25em) {
			content: '25em - 29em';
		}

		@media (min-width: 30em) {
			content: '30em - 34em';
			background: #398cc2;
		}

		@media (min-width: 35em) {
			content: '35em - 39em';
		}

		@media (min-width: 40em) {
			content: '40em - 44em';
		}

		@media (min-width: 45em) {
			content: '45em - 49em';
		}

		@media (min-width: 50em) {
			content: '50em - 54em';
		}

		@media (min-width: 55em) {
			content: '55em - 59em';
		}

		@media (min-width: 60em) {
			content: '60em - 64em';
		}

		@media (min-width: 65em) {
			content: '65em - 69em';
		}

		@media (min-width: 70em) {
			content: '70em - 74em';
		}

		@media (min-width: 75em) {
			content: '75em - 79em';
		}

		@media (min-width: 80em) {
			content: '80em - 87.4em';
			background: #383131;
			color: #f3f3f3;
		}
		@media (min-width: 87.5em) {
			content: '87.5em - 91em';
		}
		@media (min-width: 92em) {
			content: '92em +';
		}

	}
}
