// -------------------------------------
//   Typography
// -------------------------------------

// -- overwhemingly specific -----------

html {

}

body {

}

// -- links -----------------------------

a {
	word-break: break-all;
	&:link {

	}
	&:visited {

	}
	&:hover {

	}
	&:focus {

	}
	&:active {

	}
}

// -- copy -----------------------------

p, ul, ol {
	font-family: $body-font;
	word-break: break-all;
}

// -- headings -------------------------

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	word-break: break-all;
}

h1, .alpha, .h1{

}
h2, .beta, .h2{

}
h3, .gamma, .h3{

}
h4, .delta, .h4{

}
h5, .epsilon, .h5{

}
h6, .zeta, .h6{

}

// -- elements -------------------------

::-moz-selection, ::selection {
	background-color: $base-color;
	color: $white; // check this
}

small,.milli {

}

.giga{

}
.mega{

}
.kilo{

}

blockquote {

	&:before {

	}
}

// scoped typorgraphy

.prose {
	h1 {

	}
	h2 {

	}
	h3 {

	}
	h4 {

	}
	h5 {

	}
	h6 {

	}
	p {

	}
	a {

	}
	li {

	}
}
